@import "shared.assets/main";

html {
    min-height: 100%;
}
body {
    height: 100%;
}

ul {
    list-style: none;
    padding: 0px;
}

h3 {
    margin-top: 0px;
}

img {
    &.selfie  {
        border-radius: 50%;
        height: 90%;
    }
}

nav {
    &.navbar {
        margin-bottom: 0px;
        .navbar-brand, .status, .photo {
            height: 60px;
            padding: 0px 15px;
            display: table-cell;
            vertical-align: middle;
        }
        
        .navbar-brand {
            float: none;
            font-size: 20px;
            line-height: 24px;        
        }
        
        .status {
            background: $color-1a;
            p {
                float: left;
                margin: 0px;
            }
            .icon-connect-on {
                float: right;
                margin: 0 10px;            
            }
        }
    }
}

.menu {
    background-color: $color-16;
    
    @media screen and (min-width: 768px) {
        float: left;
        width: 15%;
        height: 100vh;
    }
    

    ul {
        li {
            padding: 10px;
            background: $color-3a;
            
            [class^='icon'] {
                display: inline-block;
                margin-right: 10px;
            }   
        }
    }
}

.activity {
    border: 1px solid $color-14;
    margin-bottom: 20px;
    .date-header {
        background-color: $color-16;
        padding:10px 20px;
        border-bottom: 1px solid $color-14;
        color:$color-3;
    }

    .activity-content {
        cursor: pointer;
        padding:15px;
        display: flex;     
        div {
            display: inline-block;
            vertical-align: middle;
            &.activity-timestamp {
                float: right;
                text-align: right;
                color: $color-grey-5;
                font-size: 14px;
            }
        }
        
    }
}


.modal-sm {
    @media (min-width: 768px) {
        width: 400px;
    }
    
    .close-icon {
        position: absolute;
        cursor: pointer;
        top: 20px;
        right: 20px;        
        @media (min-width: 768px) {
            top: 0px;
            right: -30px;
        }
        
        
    }

    .icon-selfie {
        position: relative;        
        margin: 20px auto;
        width: 130px;
        img {        
            width: 100%;
        }
        .icon-logo_circle {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
    
    .modal-header {
        height: 185px;
        .modal-title {
            padding: 40px 0px;            
        }
    }
    

    .modal-body {        
        .information {
            border-bottom: 1px solid $color-14;
            margin-bottom: 20px;
            text-align: center;
            padding-bottom: 20px;

            [class^='icon'] {
                margin: 0 auto;
            }
        }

        .attributes {            
            div {
                &.attribute {
                    margin-bottom: 20px;
                }

                &.title {
                    color: $color-3;
                    font-size: 12px;
                    text-transform: capitalize;
                }

                &.name {
                    color: $color-2c;
                    text-transform: uppercase;
                }
            }
        }
    }
}
